<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<meta name="misapplication-tap-highlight" content="no"/>
		<meta name="HandheldFriendly" content="true"/>
		<meta name="MobileOptimized" content="320"/>
		<link rel="stylesheet" type="text/css" href="css/impression.css"/>
		<link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.2/jquery.mobile.min.css">
		<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://apps.bdimg.com/libs/jquerymobile/1.4.2/jquery.mobile.min.js"></script>	    
	</head>
	<body>
	<div class="ui-grid-b">
     <div class="ui-block-b">
     <img class="img-color" src="img/head_img@2x.png"/>   	
     </div>
     <img class="head" src="<%= img%>"/>
     <div class="div-user">
     	amon
     </div>
     <div class="div-inp">
     	我在你心里的印象是什么？
     </div>
   </div>
		<div class="content">
		<div class="main">
			我已经收到了<a><%=count%></a>个回复
		</div>
		<div id="btn">
			<% var i=0;
			  for (var k in data){ %>
			  	<button id="b1">  <%=k%>*<%=data[k]%> </button>
			  	 <% i++;if(i==5)break;}%>
								
		</div>
		<div class="a-more"  id="amore">
			<a id='showmore'>查看更多</a>
		</div>

       <form method="post" action="/addAns">		+       <form method="post" action="demo_form.php">
       <div data-role="fieldcontain" id="bimg">		       <div data-role="fieldcontain" id="bimg">
        <input type="hidden" name="askid" value="<%=askid%>">		+       
         <input type="text" name="content" id="fullname" placeholder="留点儿东西再走吧" maxlength="12">
        <label for="content"></label>		 
        <input id="submit" type="submit" data-inline="true" value="实名发布" >
      </div>      
    </form>
    <span id="sp-txt" >
    		也许你想说...
    	</span>
    	<script>
$('#showmore').click(function(){
	alert(44);
});   
$(function(){ 
 $('.control-label a').click(function(){
  $(this).parent().each(function () {//移除其余非点中状态
         $('.control-label a').removeClass("special_color");
        });
        $(this).addClass("special_color");//给所点中的增加样式
 $('#fullname').val($(this).text());//输出所点的a的内容
 })
})
	</script>
    <div class="control-label">
    	<div class="div-txt" id="txt1">
    	<a href="#" class="div-a">雌雄同体</a>
    	<a href="#" class="div-a">高冷女王</a>
    	<a href="#" class="div-a">移动的荷尔蒙</a>
    	</div>
    	<div class="div-txt">
    	<a href="#" class="div-a">雌雄同体</a>
    	<a href="#" class="div-a">高冷女王</a>
    	<a href="#" class="div-a">移动的荷尔蒙</a>
    	</div>
    		<div class="div-txt" id="alltxt"></div>
    </div>
   
		</div>
		<div class="footer">
   <span class="sp-footer">
   	<a href="#">我也要提问</a>
   </span>
   <span class="sp-footer01">
   	<a href="#">了解山茶花</a>
   </span>
		</div>
  </div>
   <script type="text/javascript">		
$("#amore").click(function(){		
$.ajax( {    		
   url:'/allans',		
    type:'post',    		
   dataType:'json',    		
    success:function(data) {    		
       var sdiv=$("#alltxt");		
        sdiv.append("<a>"+d+"</a>")		
       }		
     }		
}); 
);			
  </script>
	</body>
</html>
