<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<meta name="misapplication-tap-highlight" content="no"/>
		<meta name="HandheldFriendly" content="true"/> 
		<meta name="MobileOptimized" content="320"/>
		<link rel="stylesheet" type="text/css" href="css/huifu.css"/>
		<link rel="stylesheet" type="text/css" href="css/huifu02.css"/>
		<link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.2/jquery.mobile.min.css">
		<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://apps.bdimg.com/libs/jquerymobile/1.4.2/jquery.mobile.min.js"></script>
	</head>
	<body>
<div data-role="page" id="pageone">
	<div class="ui-grid-b">
     <div class="ui-block-b">
     <img class="img-color" src="img/head_img@2x.png"/>   	
     </div>
     <img class="head" src="img/head.png"/>
     <div class="div-user">
     	amon
     </div>
     <div class="div-inp">
     	我在你心里的印象是什么？
     </div>
   </div>
   	<a href="#pagetwo" data-transition="slide" id="btn-1" name="btn">返回留言墙</a>
  <div class="content">
  <div class="head-img">
    	<img src="img/head.png"/>
    	
    	<div class="div-line">
    		
    	</div>
    </div>
    
    <span class="sp-txt">
    		小呆  发布
    	</span>
    <span class="sp-txt">
    		小呆  发布
    	</span>
    	 <span class="sp-time">
    		30分钟前
    	</span>
    	<button name="btn">删除</button>
     <div class="head-img">
    <img src="img/head.png"/>
    </div>
  <div class="div-line"></div>
  <span class="sp-txt">
    		小呆  发布
    	</span>
    <span class="sp-txt">
    		小呆  发布
    	</span>
    	 <span class="sp-time">
    		30分钟前
    	</span>
    	<button name="btn">删除</button>
     <div class="head-img">
    	    	<img src="img/head.png"/>
    </div>
  <div class="div-line"></div>
  <span class="sp-txt">
    		小呆  发布
    	</span>
    <span class="sp-txt">
    		小呆  发布
    	</span>
    	 <span class="sp-time">
    		30分钟前
    	</span>
    	<button name="btn">删除</button>
     <div class="head-img">
    	    	<img src="img/head.png"/>
    </div>
  <div class="div-line"></div>
  <span class="sp-txt">
    		小呆  发布
    	</span>
    <span class="sp-txt">
    		小呆  发布
    	</span>
    	 <span class="sp-time">
    		30分钟前
    	</span>
    	<button name="btn">删除</button>
  <div class="head-img">
    	    	<img src="img/head.png"/>
    </div>
  <div class="div-line"></div>
<span class="sp-txt">
    		小呆  发布
    	</span>
    <span class="sp-txt">
    		小呆  发布
    	</span>
    	 <span class="sp-time">
    		30分钟前
    	</span>
    	<button name="btn">删除</button>
  <div class="head-img">
    	    	<img src="img/head.png"/>
    </div>
  <div class="div-line"></div>
  <span class="sp-txt">
    		小呆  发布
    	</span>
    	
    <span class="sp-txt">
    		小呆  发布
    	</span>
    	 <span class="sp-time">
    		30分钟前
    	</span>
    	<button name="btn">删除</button>
    	<div class="head-img">
    	    	<img src="img/head.png"/>
    </div>
  <div class="div-line"></div>
  <span class="sp-txt">
    		小呆  发布
    	</span>
    <span class="sp-txt">
    		小呆  发布
    	</span>
    	<div class="head-img">
    	    	<img src="img/head.png"/>
    </div>
  <div class="div-line"></div>
  <span class="sp-txt">
    		小呆  发布
    	</span>
    <span class="sp-txt">
    		小呆  发布
    	</span>
</div>
<div class="a-more">
			<a >查看更多</a>
		</div>
 <div class="footer">
   <div class="sp-footer">
   	<a href="#" class="ui-link">此处深藏功与名</a>
   </div>
   <div class="sp-footer01">
   	<a href="#" class="ui-link">戳我分享给朋友</a>
   </div>
</div>
</div>


<!-- 第二个页面 -->


<div data-role="page" id="pagetwo">
  <div class="ui-grid-b">
     <div class="ui-block-b">
     <img class="img-color" src="img/head_img@2x.png"/>   	
     </div>
     <img class="head" src="img/head.png"/>
     <div class="div-user">
     	---
     </div>
     <div class="div-inp">
     	<%=p %>
     	？
     </div>
   </div>
		<div class="content02">
		<div class="main">
			我已经收到了<a><%=count%></a>个回复
		</div>
		<div id="btn">
			 <% var i=0;
			  for (var k in data){ %>
			  	<button id="b1">  <%=k%>*<%=data[k]%> </button>
			  	 <% i++;if(i==5)break;}%>
		</div>
		<div class="a-more" id="amore">
			<a >查看更多</a>
		</div>
      <div  id="bimg">
        <a href="#pageone" data-transition="slide" id="btn-1" name="btn">查看全部回复</a>
      </div>      
    <div class="div-center">
		tips：同一个标签赞同的人越多，会变得越大
		</div>
    	<script>
	$(function(){ 
 $('.control-label a').click(function(){
  $(this).parent().each(function () {//移除其余非点中状态
         $('.control-label a').removeClass("special_color");
        });
        $(this).addClass("special_color");//给所点中的增加样式
 $('#fullname').val($(this).text());//输出所点的a的内容
 })
})
	</script>
    <div class="control-label">
    	
    </div>
   
		</div>
	 <div class="footer">
   <div class="sp-footer">
   	<a href="#" class="a-t1">此处深藏功与名</a>
   </div>
   <div class="sp-footer01">
   	<a href="#" class="a-t1">戳我分享给朋友</a>
   </div>
   </div>
  </div>
   <script type="text/javascript">		
$("#amore").click(function(){		
$.ajax( {    		
    url:'/allans',		
    type:'post',    		
    dataType:'json',    		
    success:function(data) {    		
       var sdiv=$("#alltxt");		
       for(var d in data){		
        sdiv.append("<a>"+d+"</a>")		
       }		
     }		
}); 		
});		
		
		
  </script>
</div> 
</body>
</html>
